/* @font-face {
    font-family: "Klavika";
    src: url("./font/KlavikaBoldBold.otf") format("opentype"),
    url("./font/KlavikaBoldBoldItalic.otf") format("opentype"),
    ;
  }
  
  * {
    font-family: "Klavika";
  } */
   
  /* @media screen and (min-width:366px) {
     .container { width: 50%;}
  } */
       
       .section {
            width: auto;
        }
        
        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 30px;
            text-align: center;
        }

        .container_1 {
            height: 587px;
            padding-left: 200px;
            padding-top: 100px;
        }

        .container_2 {
            height: 1400px;
            justify-content: center;
        }

        .container_3 {
            height: 500px;
            justify-content: center;
        }

        input {
            width: 250px;
            height: 50px;
            font-size: 20px;
            border-radius: 40%;
            background-color: blue;
        }

        .item1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .item1_box1 {
            box-sizing: content-box;
            width: 800px;
            height: 300px;
        }

        .item1_box2 {
            box-sizing: content-box;
            width: 800px;
            height: 300px;
        }

        .item1_box3 {
            box-sizing: content-box;
            width: 800px;
            height: 300px;
        }

        .item1_box4 {
            box-sizing: content-box;
            width: 800px;
            height: 300px;
        }

        .item2 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .item2_box5 {
            box-sizing: content-box;
            width: 200px;
            height: 200px;
        }

        .item2_box6 {
            box-sizing: content-box;
            width: 200px;
            height: 200px;
        }

        .item2_box7 {
            box-sizing: content-box;
            width: 200px;
            height: 200px;
        }

        .item3 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 300px;
            height: 200px;
        }