/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Pretendard;
  src: url(../assets/font/Pretendard-Regular.otf);
}
input,
input:focus {
  border: none;
  outline: none;
  background-color: transparent;
}
select,
select:focus {
  border: none;
  outline: none;
}
ul {
  list-style: none;
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.width_restrict {
  width: 70%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex_space_between {
  display: flex;
  justify-content: space-between;
}
.flex_align_center {
  display: flex;
  align-items: center;
}
.flex_justify_center {
  display: flex;
  justify-items: center;
}
.relative {
  position: relative;
}
.absolute_left {
  position: absolute;
  left: 0;
}
.absolute_right {
  position: absolute;
  right: 0;
}
.block {
  display: block;
}
.dropdown {
  z-index: 100;
}
/* modal */

.modal_close {
  display: none;
}

.modal_bk_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.298);
  z-index: 9;
}

.modal_wh_bg {
  width: 400px;
  min-height: 400px;
  background-color: white;
  z-index: 8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9px;
}
.modal_title {
  margin-top: 20px;
  margin-left: 28px;
  margin-right: 28px;
  font-weight: 600;
  font-size: 0.88rem;
  text-align: center;
}
.refresh {
  position: absolute;
  top: 20px;
  left: 28px;
  font-size: 0.88rem;
}
.refresh:before {
  content: "↺ ";
}
.close {
  position: absolute;
  top: 20px;
  right: 28px;
  font-size: 0.88rem;
  cursor: pointer;
}
.area,
.task,
.skill {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 40px 28px 10px 28px;
  padding: 10px 5px;
}
.task {
  margin-top: 10px;
}
.area > *,
.task > *,
.skill > * {
  margin: auto 10px;
  width: max-content;
  height: max-content;
}
.area ul,
.task ul,
.skill ul {
  position: absolute;
  left: 0;
  top: 50px;
  margin: 0;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  max-height: 230px;
  overflow-y: scroll;
}
.area ul > li,
.task ul > li,
.skill ul > li {
  padding: 10px;
  width: calc(400px - 2 * 28px);
  background-color: #fff;
}
.area ul > li.selected,
.task ul > li.selected,
.skill ul > li.selected {
  position: relative;
  background-color: #cecbf5;
  color: #3365fd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.confirm {
  position: absolute;
  left: 28px;
  bottom: 30px;
  color: white;
  background-color: #3365fd;
  width: calc(400px - 2 * 28px);
  height: 50px;
  border-radius: 25px;
}
.confirm > div {
  width: max-content;
  height: max-content;
  margin: auto;
}
/* main > nav */

main > nav {
  height: 90px;
}
main > nav > div {
  padding: 25px 0;
  height: 40px;
}
main > nav * {
  height: inherit;
}
main > nav .dropdown_container > * {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 0 6px;
  padding: 0 5px;
  cursor: pointer;
}
main > nav .dropdown_container > * > * {
  margin: auto 10px;
  width: max-content;
  height: max-content;
}
main > nav .dropdown_container ul {
  position: absolute;
  left: 0;
  top: 50px;
  margin: 0;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
main > nav .dropdown_container ul > li {
  padding: 10px;
  width: 150px;
  background-color: #fff;
}
main > nav .dropdown_container ul > li > div:last-child {
  display: none;
}
main > nav .dropdown_container ul > li.selected {
  position: relative;
  background-color: #cecbf5;
  color: #3365fd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main > nav .dropdown_container ul > li.selected > div:last-child {
  display: block;
}
main > nav .criterion_value {
  color: #3365fd;
}
main > nav .search_box {
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  padding-left: 20px;
}
/* main > div */
main > div {
  background-color: #f7f8fa;
}
/* main > div nav.setting */
main > div nav.setting {
  height: 90px;
}
main > div nav.setting > div {
  padding: 25px 0;
  height: 40px;
}
main > div nav.setting * {
  height: inherit;
}
main > div nav.setting .num_and_sort > * {
  padding: 0 7px;
}
main > div nav.setting .num_and_sort > .num_projects {
  padding-left: 0;
  border-right: 1px solid #d9d9d9;
  font-size: 12px;
  transform: translateY(4px);
}
main > div nav.setting .num_and_sort > .sort ul {
  position: absolute;
  left: -10px;
  top: 30px;
  margin: 0;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
main > div nav.setting .num_and_sort > .sort ul > li {
  padding: 10px;
  width: 200px;
  background-color: #fff;
}
main > div nav.setting .num_and_sort > .sort ul > li.selected {
  position: relative;
  background-color: #cecbf5;
  color: #3365fd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main > div nav.setting .num_and_sort *,
main > div nav.setting .toggle_container * {
  margin: auto 0;
  height: max-content;
}
main > div nav.setting .toggle_container > div {
  font-size: 12px;
}
.toggleSwitch {
  width: 40px;
  min-height: 20px; /* 위에서 max-content로 속성 줬으므로 이렇게 해야 덮어써진다 */
  display: block;
  position: relative;
  border-radius: 12px;
  background-color: #d9d9d9;
  cursor: pointer;
}
.toggleSwitch .toggleButton {
  width: 16px;
  min-height: 16px;
  position: absolute;
  top: 50%;
  left: 3px;
  right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #fff;
}
.toggleSwitch.active {
  background-color: #3365fd;
}
.toggleSwitch.active .toggleButton {
  left: auto;
  right: 3px;
}
/* main > div div.content */
main > div div.content article {
  background-color: #fff;
  border-radius: 25px;
  margin: 10px 0;
  padding: 20px 30px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
main > div div.content article > * {
  margin: 20px 0;
}
main > div div.content article .article_title {
  font-size: 18px;
  font-weight: 600;
}
main > div div.content article .classification > * {
  margin: 0 7px;
  padding: 5px 15px;
}
main > div div.content article .classification > .area {
  margin-left: 0;
  padding-left: 0;
  font-weight: 600;
}
main > div div.content article .classification > .hashtag {
  background-color: #f3f3f3;
  border-radius: 16px;
}
main > div div.content article .classification > .hashtag:before {
  content: "# ";
}
main > div div.content article .info > * {
  font-size: 12px;
  padding: 0 15px;
  border-right: 1px solid #d9d9d9;
}
main > div div.content article .info > div:first-child {
  padding-left: 0;
}
main > div div.content article .info > div:last-child {
  border-right: none;
}
main > div div.content article .info .price_monthly,
main > div div.content article .info .price_project,
main > div div.content article .info .negotiable {
  color: #999;
  border: 1px solid #999;
  font-size: 6px;
  border-radius: 2px;
  margin-left: 3px;
}
main > div div.content article .info .price_monthly:after {
  content: "월 단위";
}
main > div div.content article .info .price_project:after {
  content: "프로젝트 단위";
}
main > div div.content article .info .negotiable:after {
  content: "협의 가능";
}
main > div div.content article .status * {
  margin: 0 2px;
  border-radius: 2px;
  font-size: 10px;
}
main > div div.content article .status .resident {
  background-color: #fef0f8;
  color: #f348a2;
  padding: 2px 7px;
}
main > div div.content article .status .resident::after {
  content: "상주";
}
main > div div.content article .status .remote {
  background-color: #e4f3eb;
  color: #02ba9b;
  padding: 2px 7px;
}
main > div div.content article .status .remote::after {
  content: "원격";
}
main > div div.content article .status .recruiting {
  background-color: #737eff;
  color: white;
  padding: 2px 7px;
}
main > div div.content article .status .recruiting::after {
  content: "모집중";
}
main > div div.content article .status .recruiting_end {
  background-color: gray;
  color: white;
  padding: 2px 7px;
}
main > div div.content article .status .recruiting_end::after {
  content: "모집종료";
}
main > div div.content article .status .quick {
  color: #737eff;
  font-size: 12px;
}
main > div div.content article .status .quick::after {
  content: "🏃 아직 많이 확인 안 한 프로젝트예요! 서둘러 지원해 보세요 :)";
}
/* main > div nav.pagination */
main > div nav.pagination {
  margin: 50px 0;
}
main > div nav.pagination ul {
  margin: auto;
}
main > div nav.pagination ul > li {
  font-size: 20px;
  width: 50px;
  height: 50px;
}
main > div nav.pagination ul > li > div {
  width: max-content;
  margin: auto;
}
main > div nav.pagination ul > li.selected {
  background-color: #3365fd;
  color: white;
  border-radius: 50%;
}
