*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Pretendard;
    src: url(./project_1/assets/Pretendard-1.3.6/public/static/Pretendard-Regular.otf);
}

.modal_close{
    display: none;
}

.modal_bk_bg{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.298);
    z-index: 9;
}

.modal_wh_bg{
    width: 500px;
    height: 450px;
    background-color: white;
    z-index: 8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
}

#modalText1{
    margin-top: 35px;
    margin-left: 28px;
    font-weight: 600;
    font-size: 1.08rem;
}

#modalText2{
    font-size: 0.77rem;
    margin-top: 5px;
    margin-left: 28px;
    color: #888888;
}

#modalImage1{
    width: 450px;
    margin-left: 28px;
    margin-top: 15px;

}

#modalTexts1{
    font-size: 0.75rem;
    display: flex;

}

.modal_texts1{
    width: 75px;
    height: 32px;
    text-align: center;
    margin-left: 22px;
    font-weight: 400;
}

.modal_icon{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 62px;
    padding: 2px;
}

#modalText3{
    margin-top: 35px;
    margin-left: 28px;
    font-weight: 600;
    font-size: 1.08rem;
}

#modalText4{
    font-size: 0.77rem;
    margin-top: 5px;
    margin-left: 28px;
    color: black;
    display: flex;
}

#modalText5{
    font-size: 0.77rem;
    margin-top: 5px;
    margin-left: 28px;
    color: #888888;
    position: absolute;
    bottom: 20%;
    left: 59%;
    font-size: 0.74rem;
}

#modalText6{
    margin-left: 70px;
}

#modalText7{
    margin-left: 70px;
}

#modalText8{
    margin-left: 34.5px;
    width: 58px;
    text-align: center;
}

#modalBox1{
    width: 442px;
    height: 147px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 4px;
    position: relative;
    background-color: #F4F7FE;
}

#closeBox{
    display: flex;
    height: 42px;
    background-color: #F7F8FA;
    font-size: 0.77rem;
    margin-top: 20px;
    border-radius: 0px 0px 9px 9px;
}

#closeBoxText1{
    color: #888888;
    margin-top: 13px;
    margin-left: 7px;
}

#closeBoxText2{
    margin-top: 13px;
    margin-left: 332px;
}

#closeBox > input{
    margin-left: 10px;
}

main{
    list-style: none;
    background-color: #F7F8FA;
    width: 100%;
    height: 180vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.infoText{
    padding-top: 100px;
    padding-bottom: 45px;
    font-size: 1.7rem;
    font-weight: 700;
}

#infoBox{
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    width: 36%;
    height: 135vh;
    position: relative;
}


.progressbar{
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 65px;
    list-style: none;
    background-color: #F7F8FA;
    width: 75%;
    height: 0.3rem;
    border-radius: 4px;
}

#progressbarPer{
    position: absolute;
    font-weight: 900;
    font-size: 0.85rem;
    color: #3365FD;
    left: 85.5%;
    bottom: 92.9%;
}

#infoText1{
    padding-left: 9.1%;
    font-weight: 600;
    font-size: 1.2rem;
}

#hiddenInfo{
    background-color: #F7F8FA;
    font-size: 0.78rem;
    font-weight: 400;
    color: rgb(88, 84, 84);
    width: 82.8%;
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#hiddenInfoText{
    margin-left: 4.5%;
}

#hiddenInfoIcon{
    position: absolute;
    width: 16px;
    left: 83%;
    bottom: 77.2%;
}

.main_input_checkbox{
    display: flex;
    margin-top: 45px;
    margin-left: 40px;
}

#mainInputText{
    font-weight: 500;
    padding-right: 100px;
    font-size: 0.93rem;
}

/* .main_checkbox 크기 늘리고, 배경색 변경, 테두리색 변경, 위치 변경 */

#mainCheckboxText{
    font-size: 0.8rem;
    margin-left: 18px
}

#mainInput2{
    margin-top: 12px;
    margin-left: 40px;
    width: 82.8%;
    height: 34px;
    border-radius: 4px;
    border: 1px solid rgb(189, 189, 189);
}

/* #mainInput2 placeholder */

.main_input_text2{
    font-weight: 500;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 0.93rem;
}

.main_inputbox2{
    margin-top: 12px;
    margin-left: 40px;
    width: 82.8%;
    height: 34px;
    border-radius: 4px;
    border: 1px solid rgb(189, 189, 189);
}

#mainAgreement{
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 0.8rem;
}

#hiddenInfo2{
    font-size: 0.75rem;
    width: 79.8%;
    height: 40px;
    margin-top: 9px;
    margin-left: 55px;
    background-color: #F7F8FA;
    border-radius: 4px;


}

#mainAgreement2{
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 0.8rem;
}

#mainBtnNext{
    width: 82.8%;
    height: 44px;
    border-radius: 16px;
    border: 1px solid rgb(189, 189, 189);
    background-color: #3365FD;
    color: white;
    margin-top: 55px;
    margin-left: 40px;
    font-size: 0.9rem;
    font-weight: 600;
}




