*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Pretendard;
    src: url(./Pretendard-1.3.6/public/static/Pretendard-Regular.otf);
}

.close{
    display: none;
}

.open{
    display: block;
}

.modal_bk_bg{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.298);
    z-index: 9;
}

.modal_wh_bg{
    width: 500px;
    height: 450px;
    background-color: white;
    z-index: 8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
}

#modalText1{
    margin-top: 35px;
    margin-left: 28px;
    font-weight: 600;
    font-size: 1.08rem;
}

#modalText2{
    font-size: 0.77rem;
    margin-top: 5px;
    margin-left: 28px;
    color: #888888;
}

#modalImage1{
    width: 450px;
    margin-left: 28px;
    margin-top: 15px;

}

#modalTexts1{
    font-size: 0.75rem;
    display: flex;

}

.modal_texts1{
    width: 75px;
    height: 32px;
    text-align: center;
    margin-left: 22px;
    font-weight: 400;
}

.modal_icon{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 62px;
    padding: 2px;
}

#modalText3{
    margin-top: 35px;
    margin-left: 28px;
    font-weight: 600;
    font-size: 1.08rem;
}

#modalText4{
    font-size: 0.77rem;
    margin-top: 5px;
    margin-left: 28px;
    color: black;
    display: flex;
}

#modalText5{
    font-size: 0.77rem;
    margin-top: 5px;
    margin-left: 28px;
    color: #888888;
    position: absolute;
    bottom: 20%;
    left: 59%;
    font-size: 0.74rem;
}

#modalText6{
    margin-left: 70px;
}

#modalText7{
    margin-left: 70px;
}

#modalText8{
    margin-left: 34.5px;
    width: 58px;
    text-align: center;
}

#modalBox1{
    width: 442px;
    height: 147px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 4px;
    position: relative;
    background-color: #F4F7FE;
}

#closeBox{
    display: flex;
    height: 42px;
    background-color: #F7F8FA;
    font-size: 0.77rem;
    margin-top: 20px;
    border-radius: 0px 0px 9px 9px;
}

#checkboxWrapper input[type="checkbox"]{
    position: absolute;
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px; 
    overflow:hidden; 
    clip:rect(0,0,0,0); 
    border:0; 
}

#checkboxWrapper input[type="checkbox"] + label{
    display:inline-block; 
    position:relative; 
    padding-left:26px; 
    margin-left: 20px;
    cursor:pointer; 
    position: absolute;
    left: 1px;
    top: 417px;
}

#checkboxWrapper input[type="checkbox"] + label:before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:18px; 
    height:18px; 
    text-align:center; 
    background:#fff; 
    border:1px solid #ccc; 
    box-sizing:border-box; 
}

#checkboxWrapper input[type="checkbox"] + label:hover::before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:18px; 
    height:18px; 
    text-align:center; 
    background:#fff; 
    border:1px solid #3365FD; 
    box-sizing:border-box; 
}

#checkboxWrapper input[type="checkbox"]:checked + label:after{ 
	content: ''; 
    position:absolute; 
    top:3px; 
    left:0; 
    width:18px; 
    height:18px; 
    background: url('./img_checkbox.png') left/18px no-repeat;
}

#closeBoxText1{
    color: #888888;
    top: 94%;
    left: 10%;
    position: absolute;
}

#closeBoxText2{
    text-decoration: none;
    color: black;
    font-weight: 400;
    margin-top: 13px;
    margin-left: 455px;
}

#closeBox > input{
    margin-left: 10px;
}

main{
    list-style: none;
    background-color: #F7F8FA;
    width: 100%;
    height: 167vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.infoText{
    padding-top: 100px;
    padding-bottom: 45px;
    font-size: 1.7rem;
    font-weight: 700;
}

#infoBox{
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    width: 36%;
    height: 125vh;
    position: relative;
}


.progressbar{
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 65px;
    list-style: none;
    background-color: #F7F8FA;
    width: 75%;
    height: 0.3rem;
    border-radius: 4px;
}

#progressbarPer{
    position: absolute;
    font-weight: 900;
    font-size: 0.85rem;
    color: #3365FD;
    left: 440px;
    bottom: 864.5px;
}

#infoText1{
    padding-left: 8.8%;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: -0.6px;
}

#hiddenInfoFull{
    z-index: 11;
    width: 431px;
    height: 570px;
    background-color: white;
    border: 1px solid #3366fd5c;
    border-radius: 9px;
    position: absolute;
    left: 38px;
    bottom: 150px;
    padding: 23px 20px 20px 22px;
}

.info_main_text{
    font-size: 0.8rem;
    display: flex;
}

.blue_text{
    color: #3365FD;
    margin-right: 4px;
}

.red_text{
    color: rgba(236, 13, 13, 0.925);
    margin-right: 4px;
}

.grey_text{
    color: #666666;
}

.info_text_list{
    font-size: 0.7rem;
    margin-top: 8px;
    margin-left: 10px;
    color: #666666;
}

.grey_text{
    color: #939393;
}

.info_text_list > li{
    margin-top: 6px;
}

#hiddenInfo{
    background-color: #F7F8FA;
    font-size: 0.78rem;
    font-weight: 400;
    color: rgb(88, 84, 84);
    width: 82.8%;
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

#hiddenInfoText{
    margin-left: 4.5%;
}

#hiddenInfoIcon{
    position: absolute;
    width: 16px;
    left: 440px;
    bottom: 720px;
    cursor: pointer;
}

.main_input_checkbox{
    display: flex;
    margin-top: 45px;
    margin-left: 40px;
}

#checkboxWrapper2 input[type="checkbox"]{
    position: absolute;
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px; 
    overflow:hidden; 
    clip:rect(0,0,0,0); 
    border:0; 
}

#checkboxWrapper2 input[type="checkbox"] + label{
    display:inline-block; 
    position:relative; 
    position: absolute;
    padding-left:26px; 
    left: 340px;
    bottom: 671px;
    cursor:pointer; 
}

#checkboxWrapper2 input[type="checkbox"] + label:before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:15px; 
    height:15px; 
    text-align:center; 
    background:#fff; 
    border:1px solid #ccc; 
    box-sizing:border-box; 
}

#checkboxWrapper2 input[type="checkbox"] + label:hover::before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:15px; 
    height:15px; 
    text-align:center; 
    background:#fff; 
    border:1px solid #3365FD; 
    box-sizing:border-box; 
}

#checkboxWrapper2 input[type="checkbox"]:checked + label:after{ 
	content: ''; 
    position:absolute; 
    top:3px; 
    left:0; 
    width:15px; 
    height:15px; 
    background: url('./img_checkbox.png') left/15px no-repeat;
}


#mainInputText{
    font-weight: 500;
    padding-right: 100px;
    font-size: 0.93rem;
    display: flex;
}

/* .main_checkbox 크기 늘리고, 배경색 변경, 테두리색 변경, 위치 변경 */

#mainCheckboxText{
    font-size: 0.75rem;
    position: absolute;
    left: 70%;
}

.red_dot{
    color: red;
    font-size: 0.9rem;
    margin-left: 2px;
}

#redDot1{
    color: red;
    font-size: 0.9rem;
    margin-left: 2px;
}


#mainInput2{
    margin-top: 12px;
    margin-left: 40px;
    width: 82.8%;
    height: 34px;
    border-radius: 4px;
    border: 1px solid rgba(189, 189, 189, 0.574);
    text-indent: 10px;
}

#mainInput2::-webkit-input-placeholder { color: rgba(173, 173, 173, 0.806); }

#mainInput2:hover{
    border: 1px solid #3365FD;
}

.main_input_text2{
    font-weight: 500;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 0.93rem;
    display: flex;
}

.main_inputbox2{
    margin-top: 12px;
    margin-left: 40px;
    width: 82.8%;
    height: 34px;
    border-radius: 4px;
    border: 1px solid rgb(189, 189, 189, 0.574);
    text-indent: 10px;
}

.main_inputbox2::-webkit-input-placeholder { color: rgba(173, 173, 173, 0.806); }

.main_inputbox2:hover{
    border: 1px solid #3365FD;
}

#mainAgreement{
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 0.8rem;
}

.mainAgreementText2{
    display: flex;
    margin-left: 20px;
}

#hiddenInfo2{
    font-size: 0.75rem;
    width: 79.8%;
    height: 40px;
    margin-top: 9px;
    margin-left: 55px;
    background-color: #F7F8FA;
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 15px;
    color: #666666ba;
    position: relative;
    cursor: pointer;
}

#hiddenInfo3{
    font-size: 0.75rem;
    width: 79.8%;
    margin-left: 55px;
    background-color: #F7F8FA;
    border-radius: 0px 0px 4px 4px;
    padding: 12px;
    padding-left: 15px;
    color: #666666ba;
}

#hiddenInfo2Icon{
    width: 10px;
    position: absolute;
    left: 445px;
    bottom: 200px;
    cursor: pointer;
}

#mainAgreement2{
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 0.8rem;
}

#mainBtnNext{
    width: 82.8%;
    height: 44px;
    border-radius: 16px;
    border: 1px solid rgb(189, 189, 189);
    background-color: #3365FD;
    color: white;
    margin-top: 55px;
    margin-left: 40px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}

#checkboxWrapper3 input[type="checkbox"]{
    position: absolute;
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px; 
    overflow:hidden; 
    clip:rect(0,0,0,0); 
    border:0; 
}

#checkboxWrapper3 input[type="checkbox"] + label{
    display:inline-block; 
    position:relative; 
    position: absolute;
    padding-left:26px; 
    left: 40px;
    bottom: 255px;
    cursor:pointer; 
}

#checkboxWrapper3 input[type="checkbox"] + label:before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:15px; 
    height:15px; 
    text-align:center; 
    background:#fff; 
    border:1px solid #ccc; 
    box-sizing:border-box; 
}

#checkboxWrapper3 input[type="checkbox"] + label:hover::before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:15px; 
    height:15px; 
    text-align:center; 
    background:#fff; 
    border:1px solid #3365FD; 
    box-sizing:border-box; 
}

#checkboxWrapper3 input[type="checkbox"]:checked + label:after{ 
	content: ''; 
    position:absolute; 
    top:3px; 
    left:0; 
    width:15px; 
    height:15px; 
    background: url('./img_checkbox.png') left/15px no-repeat;
}

#checkboxWrapper4 input[type="checkbox"]{
    position: absolute;
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px; 
    overflow:hidden; 
    clip:rect(0,0,0,0); 
    border:0; 
}

#checkboxWrapper4 input[type="checkbox"] + label{
    display:inline-block; 
    position:relative; 
    position: absolute;
    padding-left:26px; 
    left: 40px;
    bottom: 169px;
    cursor:pointer; 
}

#checkboxWrapper4 input[type="checkbox"] + label:before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:15px; 
    height:15px; 
    text-align:center; 
    background:#fff; 
    border:1px solid #ccc; 
    box-sizing:border-box; 
}

#checkboxWrapper4 input[type="checkbox"] + label:hover::before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:15px; 
    height:15px; 
    text-align:center; 
    background:#fff; 
    border:1px solid #3365FD; 
    box-sizing:border-box; 
}

#checkboxWrapper4 input[type="checkbox"]:checked + label:after{ 
	content: ''; 
    position:absolute; 
    top:3px; 
    left:0; 
    width:15px; 
    height:15px; 
    background: url('./img_checkbox.png') left/15px no-repeat;
}

#ghost{
    display: flex;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 15.5%;
    bottom: 15.5%;
    z-index: 4;
}

#ghostBtn{
    z-index: 3;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: relative;
    position: absolute;
    position: fixed;
    border-radius: 40%;
    left: 94%;
    bottom: 3%;
    background-color: white;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.155)
}

#ghostBtn:hover{
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.219)
}
