<!-- footer start-->
<footer>
  <button type="button" id="topBtn" onclick="topFunction()" title="Go to top">
    <svg width="24" height="21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m11.75 3.81 7.97 7.97a.75.75 0 1 0 1.06-1.06l-8.5-8.5a.75.75 0 0 0-1.06 0l-8.5 8.5a.75.75 0 1 0 1.06 1.06l7.97-7.97Z"
        fill="#333"></path>
      <rect x="11" y="3" width="1.5" height="20" rx="0.75" fill="#333"></rect>
    </svg>
  </button>
  <div class="footer_wrapper">
    <div class="footer_logo">
      <img src="https://www.wanted.co.kr/gigs/images/footer/common_wanted_logo.svg" alt="원티드긱스 인덱스 페이지 하단 푸터 로고" />
    </div>
    <div class="footer_info">
      <ul>
        <li>
          <a onclick="location.href=('gigis_e404.html')">프리랜서 이용약관</a>
        </li>
        <li>
          <a onclick="location.href=('gigis_e404.html')">클라이언트 이용약관</a>
        </li>
        <li>
          <a onclick="location.href=('gigis_e404.html')">고객센터</a>
        </li>
        <li>
          <a onclick="location.href=('gigis_e404.html')"><strong>개인정보 처리방침</strong></a>
        </li>
      </ul>
      <div class="footer_copyright">
        <p>
          (주)원티드랩 (대표이사:이복기)
          <span class="line"></span>
          서울특별시 송파구 올림픽로 300 롯데월드타워 35층
          <span class="line"></span>
          <strong>통신판매번호</strong> : 2020-서울송파-3147호
          <br />
          <strong>유료직업소개사업등록번호</strong> : (국내)
          제2020-3230259-14-5-00018호
          <span class="line"></span>
          <strong>사업자등록번호</strong> : 299-86-00021
          <span class="lineMobile"></span>
          02-539-7118
          <br />
          &copy; WANTEDLAB, INC.
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->