<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../assets/css/index_gigs.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="./../assets/icon/favicon-32x32.png" />

    <title>원티드긱스</title>
</head>
<body>
    <!-- 클라이언트 목소리 -->
    <section class="section_content section">
        <div class="section_wrapper">
            <div class="section_content_client content">
                <h3 class="client_title title">
                원티드긱스를 이용한 클라이언트들의<br/>
                생생한 목소리를 들어보세요.</h3>
                <div id="client-review">
                    fade 배너 영역 <br> 아직은 잘 모르겠네요 ㅎㅅㅎ
                </div>
                <div class="client_logo list">
                    <h5>Our client</h5>
                    <ul>
                        <li>
                            <img src="https://image.wanted.co.kr/gigs/www/home/client_logo_01.png" alt="lg u+">
                        </li>
                        <li>
                            <img src="https://image.wanted.co.kr/gigs/www/home/client_logo_02.png" alt="descente">
                        </li>
                        <li>
                            <img src="https://image.wanted.co.kr/gigs/www/home/client_logo_03.png" alt="mbc">
                        </li>
                        <li>
                            <img src="https://image.wanted.co.kr/gigs/www/home/client_logo_04.png" alt="seah">
                        </li>
                        <li>
                            <img src="https://image.wanted.co.kr/gigs/www/home/client_logo_05.png" alt="amorepacific">
                        </li>
                        <li>
                            <img src="https://image.wanted.co.kr/gigs/www/home/client_logo_06.png" alt="myrealtrip">
                        </li>
                        <li>
                            <img src="https://image.wanted.co.kr/gigs/www/home/client_logo_07.png" alt="woongin">
                        </li>
                        <li>
                            <img src="https://image.wanted.co.kr/gigs/www/home/client_logo_09.png" alt="lg cns">
                        </li>
                        <li>
                            <img src="https://image.wanted.co.kr/gigs/www/home/client_logo_08.png" alt="우리카드">
                        </li>
                        <li>
                            <img src="https://image.wanted.co.kr/gigs/www/home/client_logo_10.png" alt="배달의민족">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- secion qna -->
    <section class="section_qna section">
        <div class="section_wrapper">
            <div class="section_content_qna content">
                <h3 class="client_title title">
                    원티드긱스에서<br/>
                    가장 많이 묻는 질문입니다.
                </h3>
                <div class="qna_box list">
                    <ul>
                        <li>
                            <p>Q</p>
                            <div class="qna_text_box">
                                <p>타 서비스 대비 장점은 무엇인가요?</p>
                                <p>다양한 직군의 경력을 지닌 고급 전문가 프리랜서 풀을 갖추고 있습니다. 그리고 직접 매칭 요청한 프리랜서뿐 아니라, 매칭매니저가 제안한 프리랜서의 지원서도 확인할 수 있어 프로젝트에 가장 적합한 매칭이 가능합니다. 또한 클라이언트가 프리랜서의 지원서 확인 후, 원티드긱스의 미팅 조율 시스템을 통해 원활한 미팅 진행이 가능합니다. 프로젝트 등록부터 완료까지 도움이 필요하실 경우 담당 매칭매니저가 문의사항에 대해 상세히 상담해 드립니다.</p>
                            </div>
                        </li>
                        <li>
                            <p>Q</p>
                            <div class="qna_text_box">
                                <p>IT 외 분야의 외주도 의뢰 받나요?</p>
                                <p>원티드긱스에는 개발/디자인/기획뿐만 아니라 영상/마케팅/컨설팅/인사 등 다양한 분야의 200만 명의 전문가가 포진해있습니다. 어떤 의뢰든 원티드긱스에 맡겨주세요.</p>
                            </div>
                        </li>
                        <li>
                            <p>Q</p>
                            <div class="qna_text_box">
                                <p>서비스 수수료는 어떻게 되나요?</p>
                                <p>상담, 매칭 계약 등 전 과정에 별도 수수료가 부과되지 않으며, 의뢰하신 프로젝트의 견적에 맞춰 최적의 프리랜서를 매칭해드립니다. (부가 서비스 사용에 따라 수수료가 부과될 수 있습니다.).</p>
                            </div>
                        </li>
                        <li>
                            <p>Q</p>
                            <div class="qna_text_box">
                                <p>의뢰 접수를 완료했어요. 이후 프로세스는 어떻게 되나요?</p>
                                <p>의뢰 내용을 확인 후, 담당 매칭매니저가 연락드립니다. 또한 접수 완료 메일에 프로세스에 대한 상세 안내가 포함되어 있으니 참고 부탁드립니다.</p>
                            </div>
                        </li>
                        <li>
                            <p>Q</p>
                            <div class="qna_text_box">
                                <p>견적 산정을 위해 평균 임금을 알고 싶어요.</p>
                                <p><a href="https://www.wanted.co.kr/events/gigs_sw_salary" target="_blank">🔗 SW기술자 평균 노임</a>에서 확인이 가능합니다. 실제 매칭 시 의뢰 내용에 따라 제공된 차트와 차이가 있을 수 있습니다.</p>
                            </div>
                        </li>
                        <li>
                            <p>Q</p>
                            <div class="qna_text_box">
                                <p>프리랜서로 등록을 하고 싶어요.</p>
                                <p><a href="https://www.wanted.co.kr/events/gigs_sw_salary" target="_blank">🔗 프리랜서 등록 페이지</a>에서등록이 가능합니다. 가지고 계신 역량과 스킬을 자세하게 작성해 주세요.</p>
                            </div>
                        </li>
                        <li>
                            <p>Q</p>
                            <div class="qna_text_box">
                                <p>계약 성사까지 얼마나 걸리나요?</p>
                                <p>매칭 난이도에 따라 3일 이내부터 1달까지 소요됩니다. 프리랜서 매칭, 미팅, 계약 등 절차를 고려하여 1주일 이상이 필요합니다.</p>
                            </div>
                        </li>
                        <li>
                            <p>Q</p>
                            <div class="qna_text_box">
                                <p>프로젝트/외주 의뢰 작성팁이 있나요?</p>
                                <p>프리랜서가 담당할 업무를 자세하게 작성할수록 프리랜서의 매칭율이 올라갑니다. 구체적인 업무의 양을 기술해 주셔도 좋습니다.</p>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- section banner - project register -->
    <section class="section_project_register">
        <div class="section_wrapper">
            <div class="section_content_project_register">
                <p>지금 원티드긱스의 프리랜서와 프로젝트를 시작하세요.</p>
                <a href="#" id="projectRegisterGo">프로젝트 등록하기</a>
            </div>
        </div>
    </section>
</body>
</html>