<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/projects.css" />
    <link rel="stylesheet" href="../assets/css/font.css" />
    <link
      rel="shortcut icon"
      href="../assets/icon/favicon.ico"
      type="image/x-icon"
    />
    <title>프로젝트 찾기 | 원티드긱스</title>
  </head>
  <body>
    <header></header>
    <main>
      <article class="modal_bk_bg hidden" id="work_type_modal">
        <div class="modal_wh_bg">
          <div class="modal_title">직군/직무 검색</div>
          <div class="refresh">초기화</div>
          <div class="close">╳</div>
          <div class="area flex_align_center flex_space_between relative">
            <div class="criterion upside_down">직군을 선택해주세요</div>
            <div class="arrow"></div>
            <ul class="dropdown hidden">
              <li>
                <div>개발</div>
              </li>
              <li>
                <div>경영·비즈니스</div>
              </li>
              <li>
                <div>마케팅·광고</div>
              </li>
              <li>
                <div>디자인</div>
              </li>
              <li>
                <div>미디어</div>
              </li>
              <li>
                <div>엔지니어링·설계</div>
              </li>
              <li>
                <div>법률·법집행기관</div>
              </li>
            </ul>
          </div>
          <div
            class="task flex_align_center flex_space_between relative hidden"
          >
            <div class="criterion">직무를 선택해주세요. <span></span></div>
            <!--나중에 (0개) 멘트 넣기-->
            <div class="arrow upside_down"></div>
            <ul class="dropdown hidden">
              <li>
                <div>웹 개발자</div>
              </li>
              <li>
                <div>서버 개발자</div>
              </li>
              <li>
                <div>소프트웨어 엔지니어</div>
              </li>
              <li>
                <div>프론트엔드 개발자</div>
              </li>
              <li>
                <div>자바 개발자</div>
              </li>
              <li>
                <div>안드로이드 개발자</div>
              </li>
              <li>
                <div>C, C++ 개발자</div>
              </li>
              <li>
                <div>Node.js 개발자</div>
              </li>
              <li>
                <div>데이터 엔지니어</div>
              </li>
              <li>
                <div>iOS 개발자</div>
              </li>
              <li>
                <div>시스템, 네트워크 관리자</div>
              </li>
              <li>
                <div>파이썬 개발자</div>
              </li>
              <li>
                <div>DevOps / 시스템 관리자</div>
              </li>
              <li>
                <div>머신러닝 엔지니어</div>
              </li>
              <li>
                <div>개발 매니저</div>
              </li>
              <li>
                <div>데이터 사이언티스트</div>
              </li>
              <li>
                <div>기술 지원</div>
              </li>
              <li>
                <div>빅데이터 엔지니어</div>
              </li>
              <li>
                <div>QA, 테스트 엔지니어</div>
              </li>
              <li>
                <div>보안 엔지니어</div>
              </li>
              <li>
                <div>프로덕트 매니저</div>
              </li>
              <li>
                <div>블록체인 플랫폼 엔지니어</div>
              </li>
              <li>
                <div>임베디드 개발자</div>
              </li>
              <li>
                <div>PHP 개발자</div>
              </li>
              <li>
                <div>하드웨어 엔지니어</div>
              </li>
              <li>
                <div>웹 퍼블리셔</div>
              </li>
              <li>
                <div>.NET 개발자</div>
              </li>
              <li>
                <div>DBA</div>
              </li>
              <li>
                <div>크로스플랫폼 개발자</div>
              </li>
              <li>
                <div>영상, 음성 엔지니어</div>
              </li>
              <li>
                <div>그래픽스 엔지니어</div>
              </li>
              <li>
                <div>CTO, Chief Technology Officer</div>
              </li>
              <li>
                <div>ERP전문가</div>
              </li>
              <li>
                <div>BI 엔지니어</div>
              </li>
              <li>
                <div>루비온레일즈 개발자</div>
              </li>
              <li>
                <div>VR 엔지니어</div>
              </li>
              <li>
                <div>CIO, Chief Information Officer</div>
              </li>
            </ul>
          </div>
          <div class="area_items flex_wrap flex_align_center"></div>
          <div class="confirm flex_align_center">
            <div>확인</div>
          </div>
        </div>
      </article>
      <article class="modal_bk_bg hidden">
        <div class="modal_wh_bg">
          <div class="modal_title">스킬 검색</div>
          <div class="refresh">초기화</div>
          <div class="close">╳</div>
          <div
            class="skill flex_align_center flex_space_between relative hover_blue"
          >
            <input class="criterion" placeholder="스킬 검색" />
            <div class="glass"></div>
          </div>
          <div class="confirm flex_align_center">
            <div>확인</div>
          </div>
        </div>
      </article>
      <nav class="filter">
        <div class="width_restrict">
          <div class="relative">
            <!-- select의 문제점
            1. 지금 떠있는 옵션이 드롭다운 안된다
            2. 앞에 늘 있어야 하는 text를 구현 못한다
            3. 모달창 뜨는거 -->
            <div class="dropdown_container flex absolute_left">
              <div class="work_type flex_align_center">
                <div class="criterion">직군/직무</div>
                <div class="criterion_value">전체</div>
                <div class="arrow upside_down"></div>
              </div>
              <div class="work_form flex_align_center relative">
                <div class="criterion">근무 형태</div>
                <div class="criterion_value">전체</div>
                <div class="arrow upside_down"></div>
                <ul class="dropdown hidden">
                  <li class="selected">
                    <div>전체</div>
                  </li>
                  <li>
                    <div>상주</div>
                  </li>
                  <li>
                    <div>원격</div>
                  </li>
                </ul>
              </div>
              <div class="select_skill flex_align_center">
                <div class="criterion">스킬 선택</div>
                <div class="arrow upside_down"></div>
              </div>
            </div>
            <!-- 이거는 relative -->
            <div class="search_box relative absolute_right hover_blue">
              <input type="text" placeholder="프로젝트명 검색" />
              <!-- 이거 나중에 position absolute 주기 -->
              <div class="glass"></div>
            </div>
          </div>
        </div>
      </nav>
      <div>
        <nav class="setting">
          <div class="width_restrict">
            <div class="relative">
              <div class="num_and_sort flex absolute_left">
                <div class="num_projects">프로젝트 2553개</div>
                <div class="sort flex_align_center">
                  <div class="criterion relative">
                    <span>최신 순</span>
                    <ul class="dropdown hidden">
                      <li class="selected">
                        <div>최신 순</div>
                      </li>
                      <li>
                        <div>견적 높은 순</div>
                      </li>
                      <li>
                        <div>매칭요청 수 적은 순</div>
                      </li>
                      <li>
                        <div>시작 예정일 순</div>
                      </li>
                    </ul>
                  </div>
                  <div class="arrow upside_down"></div>
                </div>
              </div>
              <div class="toggle_container flex absolute_right">
                <input type="checkbox" id="toggle" hidden />
                <label for="toggle" class="toggle_switch">
                  <span class="toggleButton"></span>
                </label>
                <div>모집중인 프로젝트만 보기</div>
              </div>
            </div>
          </div>
        </nav>
        <div class="content">
          <div class="width_restrict">
            <article class="relative">
              <div class="article_title">
                [원격/상주] 펫케어 분야 신규 플랫폼 서비스 기획 PM - 전략 기획,
                제품 기획
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                enable-background="new 0 0 24 24"
                width="24"
                height="24"
                fill="#333333"
                class="bookmark"
              >
                <g transform="translate(5 3)">
                  <path
                    d="M1.4 1.3h11.3v13.4c0 .4.3.7.7.7.4 0 .7-.3.7-.7V.7c-.1-.4-.4-.7-.8-.7H.7C.3 0 0 .3 0 .7v16.7c0 .5.6.8 1 .6l6-3.3 6 3.3c.3.2.7.1.9-.2.2-.3.1-.7-.3-.9l-6.3-3.5c-.2-.1-.5-.1-.7 0l-5.3 2.9v-15z"
                  ></path>
                  <defs>
                    <filter id="prefix__a" filterUnits="userSpaceOnUse">
                      <feColorMatrix
                        values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0"
                      ></feColorMatrix>
                    </filter>
                  </defs>
                  <mask maskUnits="userSpaceOnUse" id="prefix__b">
                    <g filter="url(#prefix__a)">
                      <path
                        d="M1.4 1.3h11.3v13.4c0 .4.3.7.7.7.4 0 .7-.3.7-.7V.7c-.1-.4-.4-.7-.8-.7H.7C.3 0 0 .3 0 .7v16.7c0 .5.6.8 1 .6l6-3.3 6 3.3c.3.2.7.1.9-.2.2-.3.1-.7-.3-.9l-6.3-3.5c-.2-.1-.5-.1-.7 0l-5.3 2.9v-15z"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        fill="#fff"
                      ></path>
                    </g>
                  </mask>
                </g>
              </svg>
              <div class="classification flex_align_center">
                <div class="work_area">경영·비즈니스</div>
                <div class="hashtag">PM·PO</div>
                <div class="hashtag">사업개발·기획자</div>
                <div class="hashtag">서비스 기획자</div>
              </div>
              <div class="info flex">
                <div class="price flex">
                  예상 금액 : 400만원 ~ 500만원
                  <!-- price_monthly, price_project -->
                  <div class="price_monthly"></div>
                </div>
                <div class="start_date flex">
                  시작 예정일 : 2023-04-03
                  <div class="negotiable"></div>
                </div>
                <div class="expected_time flex">예상 기간 : 6개월</div>
              </div>
              <div class="status flex">
                <div class="resident"></div>
                <div class="remote"></div>
                <!-- recruiting, recruiting_end -->
                <div class="recruiting"></div>
                <div class="quick"></div>
              </div>
            </article>
          </div>
        </div>
        <!-- 페이지네이션
          https://www.w3schools.com/css/css3_pagination.asp -->
        <nav class="pagination">
          <div class="width_restrict flex_justify_center">
            <ul class="flex_align_center">
              <li class="flex_align_center"><div>&lt;</div></li>
              <li class="selected flex_align_center">
                <div>1</div>
              </li>
              <li class="flex_align_center"><div>2</div></li>
              <li class="flex_align_center"><div>3</div></li>
              <li class="flex_align_center"><div>4</div></li>
              <li class="flex_align_center"><div>...</div></li>
              <li class="flex_align_center"><div>128</div></li>
              <li class="flex_align_center"><div>&gt;</div></li>
            </ul>
          </div>
        </nav>
      </div>
    </main>
    <!-- 공간 차지용 -->
    <footer></footer>
    <script src="../assets/js/projects.js"></script>
  </body>
</html>
