* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.benefit_background {
  background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fimage.wanted.co.kr%2Fgigs%2Fwww%2Fexperts%2Ffreelancer_landing_banner_type_A.png&w=2800&q=93);
  background-size: cover;
  height: 600px;
}
.benefit_background_img_text {
  font-size: 56px;
  color: white;
}
.benefit_background_img_text_sm {
  font-size: 22px;
  color: white;
}
#add_freelancer {
  width: 253px;
  height: 60px;
  border-radius: 39px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}
#second_benefit {
  background-color: white;
}
.mid_description {
  font-size: 24px;
}
.mid_description_bold {
  font-size: 24px;
}
.description_bottom_line {
  width: 60px;
  height: 40px;
  border-bottom: 1px solid black;
}
.desc_img {
  width: 240px;
  height: 209px;
}
.description_big_text {
  font-size: 22px;
}
.description_sm_text {
  font-size: 16px;
}
.description_sm_dif_text {
  font-size: 16px;
  color: rgb(51, 102, 255);
}
.btn_add_project {
  width: 280px;
  height: 50px;
  background-color: rgb(51, 102, 255);
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 44px;
  cursor: pointer;
}
#third_benefit {
  background-color: rgb(245, 248, 252);
}

.desc_tit {
  font-size: 38px;
}
.box4_img {
  height: 934px;
  background-color: white;
}
.section4_img {
  width: 120px;
  height: 120px;
}
#box5 {
  background-color: rgb(245, 248, 252);
  height: 832px;
}
.swiper-wrapper {
  width: 1000px;
}
.swiper-slide {
  width: 300px;

  text-align: center;
  font-size: 18px;

  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slider {
  width: 300px;

  height: 359px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding: 30px;
  border-radius: 20px;
}
.dot {
}
.bg-slide {
  width: 300px;
  height: 359px;
  background-color: white;
  border-radius: 20px;

  /* background-color: rgb(245, 248, 252); */
}
.swiper-pagination > span.swiper-pagination-bullet {
  background-color: black;
  width: 8px;
  height: 8px;
  border-radius: 8px;
}
.swiper-pagination > span.swiper-pagination-bullet-active {
  background-color: rgb(145, 146, 147);
  width: 30px;
  height: 8px;
  border-radius: 8px;
}
.slider-top {
  display: flex;
  width: 260px;
  height: 40px;
  justify-content: space-between;
}
.slider-top-left {
  display: flex;
  align-items: center;
  color: rgb(84, 184, 157);
}
.slider-top-right {
  background-color: rgb(84, 184, 157);
  color: white;
  display: flex;
  align-items: center;
  border-radius: 21.5px;
  width: 94px;
  height: 32px;
  font-size: 16px;
  justify-content: center;
}
.middle {
  display: flex;
}
.pg-gap {
  height: 60px;
}
.mt-page {
  position: relative;
  top: 30px;
}

#box-6 {
  height: 666px;
}
.toggle-list {
  height: 71.5px;
}
