* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.benefit_background {
  background-image: url(https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fimage.wanted.co.kr%2Fgigs%2Fwww%2Fexperts%2Ffreelancer_landing_banner_type_A.png&w=2800&q=93);
  background-size: cover;
  height: 600px;
}
.benefit_background_img_text {
  font-size: 56px;
  color: white;
}
.benefit_background_img_text_sm {
  font-size: 22px;
  color: white;
}
#add_freelancer {
  width: 253px;
  height: 60px;
  border-radius: 39px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}
#second_benefit {
  background-color: white;
}
.mid_description {
  font-size: 24px;
}
.mid_description_bold {
  font-size: 24px;
}
.description_bottom_line {
  width: 60px;
  height: 40px;
  border-bottom: 1px solid black;
}
.desc_img {
  width: 240px;
  height: 209px;
}
.description_big_text {
  font-size: 22px;
}
.description_sm_text {
  font-size: 16px;
}
.description_sm_dif_text {
  font-size: 16px;
  color: rgb(51, 102, 255);
}
.btn_add_project {
  width: 280px;
  height: 50px;
  background-color: rgb(51, 102, 255);
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 44px;
  cursor: pointer;
}
#third_benefit {
  background-color: rgb(245, 248, 252);
}

.desc_tit {
  font-size: 38px;
}
