* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  text-decoration-line: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

/* header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  background-color: white;
  border-bottom: 1px solid rgb(242, 244, 247);
}

main {
  margin-top: 64px;
}

.header > .main_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1080px;
  padding: 0px 20px;
  margin: 0px auto;
  font-size: 15px;
}

.mainbar_menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.mainbar_menu_logo {
  margin-right: 52px;
}

.main_bar_link > .benefits {
  vertical-align: top;
}

.main_bar_link {
  color: rgb(51, 51, 51);
  font-weight: 500;
  text-decoration: none;
  display: block;
  height: 63px;
  padding: 22px 2px 0px;
  margin-right: 35px;
}

a.main_bar_link:hover {
  border-bottom: 2px solid rgb(225, 227, 232);
}

.header > .main_bar > .mainber_menu_side {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header > .main_bar > .mainbar_menu_side_register {
  margin-left: 10px;
}

a.side_register_click:hover {
  text-decoration: underline;
}

a.side_login_click:hover {
  text-decoration: underline;
}

.guide_class {
  position: absolute;
  left: 50%;
  top: 44px;
  transform: translateX(-50%);
}

.guide_text {
  background-color: white;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 8px 0px;
  border: 1px solid rgba(51, 102, 255, 0.24);
  border-radius: 5px;
  padding: 8px 13px;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  white-space: nowrap;
}

.guide_text > strong {
  font-weight: bold;
}

.guide_location {
  position: absolute;
  left: 50%;
  bottom: 100%;
  height: 7px;
  margin-bottom: -1px;
  transform: translateX(-50%);
}

.guide_location:after {
  content: "";
  margin-top: 4px;
  border-top: 1px solid rgba(51, 102, 244, 0.24);
  border-left: 1px solid rgba(51, 102, 244, 0.24);
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  height: 7px;
  width: 7px;
  display: block;
  border-top-right-radius: 30%;
  margin-top: 3px;
}

.header > .main_bar > .mainber_menu_side > li {
  position: relative;
}

.side_register_click {
  border: 1px solid rgb(51, 102, 255);
  color: rgb(51, 102, 255);
  font-size: 13px;
  height: 32px;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  width: max-content;
}

.side_login_click {
  font-weight: 500;
  font-size: 14px;
  margin-left: 12px;
  color: rgb(51, 51, 51);
  white-space: nowrap;
}

/* main */
.main_section {
  height: 680px;
  background-color: rgb(245, 247, 255);
}

.main_section > div {
  position: relative;
  height: 100%;
}

.main_section_content {
  max-width: 1060px;
  margin: 0px auto;
}

.main_section_content_wrapper {
  position: absolute;
  top: 100px;
  left: 0px;
  z-index: 1;
}

.main_section_content_wrapper h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
}

.main_section_content_wrapper p {
  font-size: 18px;
  line-height: 160%;
  padding: 20px 0px 35px 0px;
}

.main_section_content_wrapper button {
  background-color: rgb(51, 102, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  width: 290px;
  height: 46px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.main_section_content_wrapper button:hover {
  opacity: 0.8;
}

video.main_section_video_content {
  width: 800px;
  position: absolute;
  bottom: 0px;
  right: -95px;
}

.aos_section {
  padding: 100px 0;
  text-align: center;
}

.aos_list {
  max-width: 1060px;
  margin: 0px auto;
}

.aos_list_title {
  color: rgb(51, 102, 255);
  font-size: 26px;
  font-weight: 700;
  line-height: 160%;
  padding-bottom: 50px;
}

/* common */
.aos_list img {
  width: 150px;
}

.aos_list ul {
  display: flex;
  padding: 0 0 80px;
  justify-content: space-between;
}

.aos_list li {
  background-color: rgb(245, 247, 255);
  width: 340px;
  border-right: 10px;
  padding: 30px 0px 50px;
}

.aos_list ul li img {
  width: 150px;
}

.aos_list ul li h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 160%;
  padding: 20px 0 5px;
}

.aos_list ul li p {
  font-size: 16px;
  line-height: 160%;
  margin-top: 5px;
}

.aos_list > ul > li > p {
  font-size: 16px;
  line-height: 160%;
  margin-top: 5px;
}

.aos_list > ul > .aos_list_zeroFee > .aos_list_zeroFee_font {
  font-size: 12px;
  color: rgb(136, 136, 136);
}

.aos_button button {
  color: white;
  background-color: rgb(51, 102, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
  border-radius: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.aos_button button:hover {
  opacity: 0.8;
}

.aos_list_zeroFee_font {
  color: rgb(136, 136, 136);
}

.aos_list_zeroFee p.aos_list_zeroFee_font {
  font-size: 12px;
}

/* 모바일 */
@media screen and (max-width: 767px) {
  .main_section {
    height: 580px;
  }

  .main_section > div {
    position: relative;
    height: 100%;
  }

  .main_section_content_wrapper {
    top: 60px;
    width: 100%;
    text-align: center;
    left: 0px;
    z-index: 1;
  }

  .main_section_content_wrapper h2 {
    font-size: 28px;
  }

  .main_section_content_wrapper p {
    font-size: 16px;
    padding: 20px 0px 30px;
  }

  .main_section_content_wrapper button {
    font-size: 14px;
    width: 240px;
    height: 42px;
    margin: 0px auto;
  }

  video.main_section_video_content {
    display: none;
  }

  .aos_section {
    padding: 80px 20px;
  }

  .aos_list_title {
    font-size: 22px;
    padding-bottom: 40px;
  }

  .aos_list ul {
    padding: 0px 0px 40px;
    flex-direction: column;
  }

  .aos_list li {
    width: 100%;
    padding: 30px 0px;
    margin-bottom: 20px;
  }
  .aos_list ul li img {
    width: 120px;
  }

  .aos_list ul li h4 {
    font-size: 18px;
  }

  .aos_button button {
    font-size: 16px;
    height: 50px;
  }
}

/* swiper overriding */
.swiper-pagination {
  margin-bottom: 40px;
}

.mySwiper {
  width: 1060px;
  display: flex;
  justify-content: center;
}

.swiper-slide {
  border-radius: 10px;
  background-color: #fff;
  padding: 40px 100px;
  padding-top: 60px;
}

/* common */
.section {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 100px 0;
}

.section_wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.title {
  font-size: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
  line-height: 160%;
  text-align: center;
  padding-bottom: 50px;
}

.list {
  border-radius: 10px;
}

.client_box {
  display: block;
  width: 100%;
  padding: 10px 0;
}

/* section_content */
.swiper,
.section_content {
  background-color: #f5f7ff;
}

.swiper-wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  border: 1px solid #3366ff;
}

.swiper-pagination-bullet-active {
  background-color: #3366ff;
}

.client_txt h2 {
  color: rgb(51, 102, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 160%;
}

.client_txt p {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 160%;
  padding: 15px 0px 25px;
}

.client_profile {
  display: flex;
}

.name_box {
  display: flex;
  align-items: center;
}

.client_profile img {
  width: 36px;
  border-radius: 18px;
  margin-right: 10px;
}

#clientReviewFade {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  background: #fff;
}

.client_box {
  position: absolute;
  background: #fff;
  width: 100%;
}

.client_name {
  color: #333;
  font-weight: 600;
  margin-right: 10px;
}

.client_job {
  padding-left: 10px;
  color: rgb(102, 102, 102);
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  position: relative;
}

.client_job::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 1px;
  height: 10px;
  background-color: rgb(170, 170, 170);
}

.client_logo,
.client_review {
  background-color: #fff;
  padding: 40px 100px;
}

.client_review {
  padding-top: 60px;
}

.client_logo {
  margin-top: 20px;
}

.client_logo h5 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.client_logo ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client_logo ul li {
  width: 160px;
  padding: 25px 0px 0px;
}

.client_logo ul li img {
  width: 100%;
}

#fadeBtn {
  z-index: 500;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#fadeBtn button {
  margin: 0 5px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: 1px solid #3366ff;
  border-radius: 8px;
  cursor: pointer;
}

/* qna section */
.qna_box {
  background-color: #f7f8fa;
}

.qna_box ul {
  padding: 60px 100px;
}

.qna_box ul li {
  display: flex;
  padding-top: 25px;
}

.qna_box ul li:first-of-type {
  padding: 0;
}

.qna_box ul li > p,
.qna_text_box > p:first-of-type {
  font-weight: 600;
  margin-right: 10px;
}

.qna_text_box > p:first-of-type {
  padding-bottom: 6px;
}

.qna_text_box > p:last-of-type {
  line-height: 166%;
  color: rgba(170, 170, 170, 0.9);
  font-weight: 400;
}

.qna_text_box > p > span {
  display: none;
}

.qna_text_box p a {
  text-decoration: underline;
  color: rgba(170, 170, 170, 0.9);
}

/* section project_register */
.section_project_register {
  background-color: #3366ff;
  color: #fff;
}

.section_content_project_register {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: space-between;
}

.section_content_project_register {
  font-size: 20px;
  font-weight: 700;
}

.banner_br {
  display: none;
}

#projectRegisterGo {
  font-size: 16px;
  font-weight: 600;
  color: #3366ff;
  background-color: #fff;
  width: 290px;
  height: 46px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projectRegisterGo:hover {
  opacity: 0.9;
}

/* footer */
footer {
  padding: 50px 0;
}
footer > div {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}

.footer_logo {
  padding-right: 50px;
}

.footer_info ul {
  display: flex;
}

.footer_info ul li {
  margin-right: 36px;
}

.footer_info ul li a {
  color: rgba(0, 0, 0, 0.85);
  font-size: 15px;
}

.footer_info ul li a:hover {
  text-decoration: underline;
}

.footer_copyright {
  padding-top: 18px;
  color: rgb(118, 118, 118);
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

.line,
.lineMobile {
  margin: 0px 4px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  width: 1.5px;
  background-color: rgb(236, 236, 236);
}

/* top button */
#topBtn {
  /* display: none; */
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  right: 40px;
  padding: 20px 18px;
  border-radius: 50%;
  border: 1px solid #e1e3e8;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: ease-in-out 0s;
}

/* pad */
@media screen and (max-width: 1059px) {
  .section_wrapper {
    max-width: 100%;
    height: auto;
  }

  .mySwiper {
    width: 100%;
  }

  .swiper-wrapper {
    max-width: 100%;
    height: auto;
  }

  #clientReviewFade {
    overflow: inherit;
  }

  .client_box {
    position: inherit;
  }

  .swiper-pagination {
    margin-bottom: 30px;
  }
}

/* 모바일 */
@media screen and (max-width: 767px) {
  .section {
    padding: 80px 20px;
  }
  .title {
    font-size: 22px;
  }

  .mySwiper {
    height: 460px;
  }

  .client_logo,
  .client_review {
    padding: 30px;
  }

  .client_box {
    padding: 0;
  }

  .client_txt h2 {
    font-size: 16px;
  }

  .client_txt p {
    font-size: 14px;
  }

  .webBr {
    display: none;
  }

  .client_profile {
    flex-direction: column;
  }

  .client_profile img {
    padding-bottom: 15px;
  }

  .client_name {
    font-size: 15px;
  }

  .client_job {
    font-size: 13px;
    line-height: 150%;
  }

  .client_logo_img {
    padding: 30px 20px;
  }

  .client_logo ul li {
    width: 140px;
    padding: 10px 0px 0px;
  }

  /* qna */
  .qna_box ul {
    padding: 30px;
  }

  .qna_box ul li {
    font-size: 15px;
  }

  .qna_box > ul > li > p {
    display: none;
  }

  .qna_text_box > p:last-of-type {
    font-size: 14px;
  }

  .qna_text_box > p > span {
    display: inline-block;
  }

  /* section project_register */
  .section_content_project_register {
    height: 205px;
    flex-direction: column;
    justify-content: center;
  }

  .section_content_project_register p {
    text-align: center;
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 1.6;
  }
  #projectRegisterGo {
    width: 240px;
    height: 42px;
    font-size: 14px;
  }

  .banner_br {
    display: block;
  }

  /* footer */
  footer {
    padding: 40px 0;
  }

  .footer_wrapper {
    flex-direction: column;
  }

  .footer_logo img {
    margin-bottom: 20px;
  }

  .footer_info ul {
    flex-wrap: wrap;
  }

  .footer_info ul li {
    margin: 0 16px 16px 0;
  }

  .footer_info ul li a {
    font-size: 14px;
  }

  .footer_copyright {
    padding-top: 0;
  }

  .line {
    display: block;
    height: 0;
  }
}
