.top-banner-swiper-banner {
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.swiper-slide {
  position: relative;
  height: inherit;
  text-align: center;
  font-size: 18px;
  background: none;
  margin: auto;
  background-position: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  position: relative;
  width: 100%;
  border-radius: 4px;
}
.swiper-slide .swiper-inner-absolute-div {
  opacity: 0;
}

.swiper-slide .swiper-inner-absolute-div {
  opacity: 0;
  transition-duration: 3s;
}

.swiper-slide.swiper-slide-active .swiper-inner-absolute-div {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

.swiper-slide.swiper-slide-active .swiper-inner-absolute-div {
  position: absolute;
  background: #fff;
  bottom: 28px;
  width: 330px;
  height: 146px;
  opacity: 1;
  text-align: left;
  left: 34px;
  z-index: 15;
  border-radius: 4px;
}

.swiper-inner-absolute-div {
  position: absolute;
  background: #fff;
  bottom: 28px;
  width: 330px;
  height: 146px;
  opacity: 1;
  text-align: left;
  left: 34px;
  z-index: 15;
  border-radius: 4px;
}
.swiper-inner-absolute-div {
  position: absolute;
  background: #fff;
  bottom: 28px;
  width: 330px;
  height: 146px;
  opacity: 1;
  text-align: left;
  left: 34px;
  z-index: 15;
  border-radius: 4px;
}

.swiper-inner-absolute-div h2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  margin-top: 20px;
  line-height: 1;
  font-weight: 700;
  color: #333;
  width: "auto";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.swiper-inner-absolute-div h3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.15;
  height: 30px;
  color: #666;
  width: "auto";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.swiper-link {
  display: block;
  margin-top: 6px;
  margin-left: 13px;
  padding: 6px 8px;
}

.blue-color {
  color: #3366ff;
}

.swiper-link .blue-color {
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.swiper-link .blue-color .blue-next-btn img {
  position: absolute;
  width: 14px;
  height: 14px;
  line-height: 13px;
  bottom: 2px;
}

.event_slide_banner .event_slide_padding {
  padding: 8px;
  position: relative;
}

.event_slide_banner .swiper-button-next,
.event_slide_banner .swiper-button-prev {
  top: -48px;
}

.event_slide_banner .swiper-button-prev:after {
  content: url(../images/index_arrow.svg);
}

.event_slide_banner .swiper-button-next:after {
  content: url(../images/index_arrow.svg);
  width: 36px;
  position: relative;
  transform: rotate(180deg);
}

.event_slide_banner .swiper-button-next:after:hover {
  opacity: 1.5;
  content: url(../images/index_arrow.svg);
  width: inherit;
  position: relative;
  transform: rotate(180deg);
}

.main_banner {
  width: 1700px;
  height: 300px;
}

.swiper-slide {
  text-align: center;
  height: 300px;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.button-next {
  position: absolute;
  top: 195px;
  right: 233px;
  z-index: 1;
}

.button-prev {
  position: absolute;
  top: 195px;
  left: 240px;
  z-index: 1;
}

.button-prev img {
  width: 12px;
  height: 12px;
  /* border: 1px solid black; */
  padding: 24px 9px 24px 8px;
  border-radius: 14px;
  background-color: rgba(225, 225, 225, 0.55);
}

.button-next img {
  width: 12px;
  height: 12px;
  padding: 24px 8px 24px 9px;
  border-radius: 14px;
  background-color: rgba(225, 225, 225, 0.55);
}
