* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("../font/Pretendard-Regular.otf");
}
@font-face {
  font-family: "Pretendard-light";
  src: url("../font/Pretendard-Light.otf");
}

@font-face {
  font-family: "Pretendard-thin";
  src: url("../font/Pretendard-Thin.otf");
}

section {
  display: block;
}

a {
  text-decoration: none;
  text-decoration-line: none;
}
a:hover {
  cursor: pointer;
}

p {
  text-decoration: none;
  text-decoration-line: none;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
}

/* * */

/* header start */

header.header {
  position: fixed;
  width: 100%;
  z-index: 300;
  top: 0;
  box-shadow: 0 1px 0 0 rgb(0, 0, 0 / 10%);
  -webkit-box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
  background-color: #fff;
}

header .mainbar_mainbar {
  margin: 0 auto;
  height: 50px;
  max-width: 1060px;
  position: relative;
  top: 13px;
}

header .mainbar_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .mainbar_nav_menu_logo button img {
  /* border: 1px solid black; */
  position: fixed;
  left: 310px;
  top: 17px;
}

header .mainbar_nav_menu_logo .hidden_munu {
  border: 1px solid black;
  width: 200px;
  background-color: white;
  text-align: left;
  font-family: "Pretendard-light";
  line-height: 40px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 20px;
  position: relative;
  right: 10px;
  top: 27px;
  display: none;
}

header .mainbar_nav_menu_logo .hidden_munu li {
  padding-left: 20px;
  position: relative;
  bottom: 20px;
  right: 20px;
  width: 200px;
}
header .mainbar_nav_menu_logo .hidden_munu li:hover {
  background-color: rgb(248, 248, 248);
  color: rgb(31, 80, 255);
}

header .mainbar_nav_menu_logo .hidden_munu .big {
  font-size: 15px;
}
header .mainbar_nav_menu_logo {
  display: flex;
}

header .mainbar_nav_menu_logo a img {
  padding-bottom: 3px;
  width: 73px;
  height: 16px;
  /* border: 1px solid black; */
  position: fixed;
  left: 343px;
  top: 14px;
}

.header_padding {
  height: 50px;
}

header .mainbar_menu_classname {
  border: 1px solid black;
  display: flex;
  width: 500px;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  margin-bottom: 3px;
  position: relative;
  right: 7px;
}

.header aside {
  display: flex;
  width: 270px;
  font-family: "Pretendard-Regular";
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.header aside li button img {
  width: 18px;
  height: 18px;
  margin-right: 28px;
  margin-bottom: 30px;
  position: relative;
  bottom: 8px;
}

.header aside li .member {
  font-size: 14px;
  font-weight: 500;
  margin-left: 0px;
}

.header aside li .bar {
  font-size: 11px;
  margin-top: 3px;
  color: rgb(241, 241, 241);
}

.header aside li .service {
  font-size: 12.5px;
  color: rgb(129, 129, 129);
  margin-right: 0;
  padding-right: 0;
  border: 1px solid rgb(224, 224, 224);
  padding: 7px 11px;
  border-radius: 30px;
}
/* header end */

/* main start */
main.main {
  padding-top: 25px;
  background-color: #fff;
  font-family: "Pretendard-Regular";
}

main section .main_top_banner {
  position: relative;
  overflow: hidden;
  height: 300px;
  background-color: aqua;
}
/* 임시배너 height 지정*/
.main_slide_banner {
  height: 300px;
}
main section .main_top_line_banner {
  width: 1060px;
  margin: 60px auto;
}

.main_section_content_list {
  position: relative;
  scroll-margin-top: 4px;
  padding: 60px 0;
}

.section_wrapper {
  max-width: 1060px;
  width: 87.72%;
  margin: 0 auto;
}

/* 타이틀 시작 */
.title {
  text-align: center;
  border: 1px solid black;
  margin-top: 10px;
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14.5px;
}

.title_wrapper img {
  margin-top: 2px;
  margin-left: 3px;
  width: 25px;
  height: 25px;
}
.tag_slide {
  position: relative;
}

.interest_slide {
  position: relative;
  margin: 30px 0;
  width: 100%;
  background-color: aquamarine;
  height: 40px;
}

ul.interest_content_list {
  width: 100% !important;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  grid-gap: 32px 20px;
  gap: 32px 20px;
  margin-bottom: 50px;
}

.interest_content_list_card {
  position: relative;
  width: calc(25% - 15px);
}

div.list_card_thumbnail {
  position: relative;
  height: auto;
  padding-left: 0;
  width: 100%;
  padding-bottom: 70%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.list_card_thumbnail img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-position: center;
  z-index: 2;
  object-fit: cover;
}

.card_information {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
  gap: 4px;
  margin-top: 12px;
  padding-right: 4px !important;
}

.card_title {
  font-size: 18px;
  line-height: 144.4%;
  letter-spacing: -0.0002em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 600;
  color: #171717;
  word-break: keep-all;
  overflow-wrap: anywhere;
  font-family: "Pretendard-light";
}

.card_introduce {
  font-size: 13px;
  line-height: 138.5%;
  color: #8a8a8a;
  font-weight: 400;
  letter-spacing: 0.025em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: anywhere;
  font-family: "Pretendard-light";
}

.card_user_profile_image {
  margin-top: 16px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.card_user_profile_image img {
  border-radius: 50%;
  border: 1px solid #ececec;
  width: 24px;
  height: 24px;
}

.card_user_profile_image span {
  margin-left: 10px;
  font-family: "Pretendard-thin";
  font-weight: 600;
}

.card_user_profile_name {
  font-size: 12px;
  line-height: 133.3%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.031em;
  color: #8a8a8a;
}

.interest_content_list_more {
  display: flex;
  justify-content: center;
}

.interest_content_list_more .content_list_more_button {
  border-color: #e1e2e4 !important;
  color: #171717;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  border: none;
  background-color: #fff;
  border: 1px solid #fff;
  width: 345px;
  margin: 0 auto;
  height: 50px;
  padding: 0 27px;
}

.more_list_span {
  width: 100%;
}

.type_test_banner {
  max-width: 1060px;
  width: 90%;
  margin: 0 auto 60px;
  height: 108px;
}
.type_test_banner_inner {
  background: #0d99ff;
  background-image: url("../images/typetest-banner-image.png");
  cursor: pointer;
  color: white;
  background-size: auto 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  padding: 28px 0 22px 120px;
}
.type_test_banner_inner > div {
  color: inherit;
}
.creater_banner {
  width: 90%;
  max-width: 1060px;
  margin: 0px auto;
  padding: 4px 0 60px;
  height: 119px;
}

.creater_banner_inner {
  padding: 20px;
  height: 77px;
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_hr_solid {
  max-width: 1060px;
  width: 90%;
  margin: 0 auto;
}

.div_hr {
  height: 1px;
  border: none;
  background-color: #ececec;
}

.recommend_line_banner {
  max-width: 1060px;
  width: 90%;
  margin: 60px auto 0;
}

.recommend_line_banner_inner {
  height: 56px;
  width: 100%;
  background-color: darkblue;
}
/* main end */

section.event_slide_banner {
  padding: 60px 0;
}

section .event_slide_banner_inner {
  max-width: 1060px;
  width: 90%;
  margin: 0 auto;
  height: 433px;
  background-color: antiquewhite;
}

section.recruitment_information {
  padding: 60px 0 80px;
}

.recruitment_information .recruitment_information_inner {
  max-width: 1060px;
  width: 90%;
  margin: 0 auto;
  height: 161px;
  background-color: sandybrown;
}

/* footer start */
footer.footer {
  padding: 18px 0 65px;
  background-color: #fff;
  border-top: 1px solid #ececec;
}

footer.footer > .footer_inner {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto 18px;
  display: flex;
}

footer.footer .footer_inner_nav.left {
  display: flex;
}

.footer_inner_nav_link_logo {
  display: flex;
  width: 113px;
  margin-right: 43px;
  justify-content: space-between;
  align-items: center;
}

footer.footer .footer_inner_nav_menu {
  display: flex;
}

footer.footer .footer_inner_nav_menu > a {
  font-size: 15px;
  color: #3a3a3a;
  margin-right: 45px;
  line-height: 2.6;
  font-weight: 500;
}

footer.footer .footer_inner_nav.right {
  display: flex;
  flex-wrap: nowrap;
  line-height: 2.6;
}

footer.footer .footer_inner_nav.right > a > img {
  margin-left: 14px;
}

.footer_inner_nav_menu span {
  font-weight: bold;
}

footer.footer > .footer_inner:nth-child(2) {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto 18px;
  display: flex;
  border-top: 1px solid #ececec;
  padding-top: 25px;
}

footer.footer .footer_inner_text {
  float: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
  color: #767676;
  width: calc(100% - 290px);
  margin-right: 40px;
}
/* footer end */
