* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("../font/Pretendard-Regular.otf");
}
@font-face {
  font-family: "Pretendard-light";
  src: url("../font/Pretendard-Light.otf");
}

@font-face {
  font-family: "Pretendard-thin";
  src: url("../font/Pretendard-Thin.otf");
}

section {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-line: none;
}
a:hover {
  cursor: pointer;
}

p {
  text-decoration: none;
  text-decoration-line: none;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

/* * */

/* header start */

header.header {
  position: fixed;
  width: 100%;
  z-index: 300;
  top: 0;
  box-shadow: 0 1px 0 0 rgb(0, 0, 0 / 10%);
  -webkit-box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
  background-color: #fff;
}

header .mainbar_mainbar {
  margin: 0 auto;
  height: 50px;
  max-width: 1060px;
  position: relative;
  /* border: 1px solid red; */
}

header .mainbar_nav {
  /* border: 1px solid blue; */
  position: relative;
  top: 10px;
}

header .mainbar_nav_menu_logo a img {
  padding-bottom: 3px;
  width: 73px;
  height: 16px;
  margin-left: 10px;
  margin-top: 3px;
  /* border: 1px solid green; */
}

.hidden_munu {
  /* border: 1px solid black; */
  width: 200px;
  background-color: white;
  text-align: left;
  font-family: "Pretendard-light";
  line-height: 40px;
  font-weight: bold;
  margin-top: 18px;
  padding-top: 20px;
  padding-left: 20px;
  display: none;
  position: absolute;
  margin-right: 20px;
}

header .mainbar_nav_menu_logo .hidden_munu li {
  padding-left: 20px;
  position: relative;
  bottom: 20px;
  right: 20px;
  width: 200px;
}
header .mainbar_nav_menu_logo .hidden_munu li:hover {
  background-color: rgb(248, 248, 248);
  color: rgb(31, 80, 255);
}

header .mainbar_nav_menu_logo .hidden_munu .big {
  font-size: 15px;
}

header .mainbar_nav_menu_logo {
  display: flex;
  /* border: 1px solid black; */
}

.header_padding {
  height: 50px;
}

header .mainbar_menu_classname {
  /* border: 1px solid black; */
  display: flex;
  width: 500px;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Pretendard-light";
  font-weight: 600;
  margin-left: 10px;
  position: relative;
  top: 5px;
  left: 90px;
}

.header aside {
  display: flex;
  width: 270px;
  font-family: "Pretendard-Regular";
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  position: relative;
  left: 175px;
}

.header aside li button {
  /* border: 1px solid red; */
  height: 18px;
  margin-top: 5px;
  margin-left: 5px;
}
.header aside li button img {
  width: 18px;
  height: 18px;
  /* border: 1px solid black; */
}

.header aside li .member {
  font-size: 14px;
  font-weight: 500;
  margin-left: 0px;
  /* border: 1px solid black; */
}

.header aside li .bar {
  font-size: 11px;
  margin-top: 3px;
  color: rgb(241, 241, 241);
}

.header aside li .service {
  font-size: 12.5px;
  color: rgb(129, 129, 129);
  margin-right: 0;
  padding-right: 0;
  border: 1px solid rgb(224, 224, 224);
  padding: 7px 11px;
  border-radius: 30px;
  margin-bottom: 3px;
}
/* header end */

/* main start */
main.main {
  padding-top: 25px;
  background-color: #fff;
  font-family: "Pretendard-Regular";
}

.main_section_content_list {
  position: relative;
  scroll-margin-top: 4px;
  padding: 60px 0;
}

.section_wrapper {
  max-width: 1060px;
  width: 87.72%;
  margin: 0 auto;
}

/* 타이틀 시작 */
.title {
  text-align: center;
  margin-top: 10px;
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14.5px;
}

.title_wrapper img {
  margin-top: 2px;
  margin-left: 3px;
  width: 25px;
  height: 25px;
}

.tag_slide {
  position: relative;
}

ul.interest_content_list {
  width: 100% !important;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  grid-gap: 32px 20px;
  gap: 32px 20px;
  margin-bottom: 50px;
  position: relative;
  bottom: 10px;
}

.interest_content_list_card {
  position: relative;
  width: calc(25% - 15px);
}

div.list_card_thumbnail {
  position: relative;
  height: auto;
  padding-left: 0;
  width: 100%;
  padding-bottom: 70%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.list_card_thumbnail img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-position: center;
  z-index: 2;
  object-fit: cover;
}

.card_information {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
  gap: 4px;
  margin-top: 12px;
  padding-right: 4px !important;
}

.card_title {
  font-size: 18px;
  line-height: 144.4%;
  letter-spacing: -0.0002em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 600;
  color: #171717;
  word-break: keep-all;
  overflow-wrap: anywhere;
  font-family: "Pretendard-light";
}

.card_introduce {
  font-size: 13px;
  line-height: 138.5%;
  color: #8a8a8a;
  font-weight: 400;
  letter-spacing: 0.025em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: anywhere;
  font-family: "Pretendard-light";
}

.card_user_profile_image {
  margin-top: 16px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.list_card_thumbnail {
  transition: transform 0.2s ease-in-out;
}

.list_card_thumbnail:hover {
  transform: translateY(-3%);
}

.card_user_profile_image img {
  border-radius: 50%;
  border: 1px solid #ececec;
  width: 24px;
  height: 24px;
}

.card_user_profile_image span {
  margin-left: 10px;
  font-family: "Pretendard-thin";
  font-weight: 600;
}

.card_user_profile_name {
  font-size: 12px;
  line-height: 133.3%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.031em;
  color: #8a8a8a;
}

.interest_content_list_more {
  /* border: 1px solid black; */
  position: relative;
  bottom: 30px;
}

.interest_content_list_more .more_list_card ul {
  width: 100% !important;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  grid-gap: 32px 20px;
  gap: 32px 20px;
  margin-bottom: 50px;
  display: none;
}

.interest_content_list_more .more_list_card li {
  position: relative;
  width: calc(25% - 15px);
}

.interest_content_list_more .content_list_more_button {
  border-color: #e1e2e4 !important;
  color: #171717;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  border: none;
  background-color: #fff;
  border: 1px solid #fff;
  width: 345px;
  margin: 0 auto;
  height: 50px;
  padding: 0 27px;
  left: 350px;
  top: 38px;
}

.more_list_span {
  margin-right: 5px;
}

.interest_content_list_more .content_list_more_button_2 {
  border-color: #e1e2e4 !important;
  color: #171717;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  border: none;
  background-color: #fff;
  border: 1px solid #fff;
  width: 345px;
  margin: 0 auto;
  height: 50px;
  padding: 0 27px;
  left: 350px;
  top: 38px;
  display: none;
}
.type_test_banner {
  max-width: 1060px;
  width: 90%;
  margin: 0 auto 60px;
  height: 108px;
}
.type_test_banner_inner {
  background: #0d99ff;
  background-image: url("../images/typetest-banner-image.png");
  cursor: pointer;
  color: white;
  background-size: auto 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  padding: 28px 0 22px 120px;
  border-radius: 10px;
}
.type_test_banner_inner > div {
  color: inherit;
}
.creater_banner {
  width: 90%;
  max-width: 1060px;
  margin: 0px auto;
  padding: 4px 0 60px;
  height: 119px;
}
.creater_close {
  position: absolute;
  right: 11px;
  width: 17px;
  top: 11px;
}
.creater_close img {
  width: inherit;
}

.creater_banner_inner {
  border: 1px solid #e1e2e4;
  box-shadow: 4px 4px 15px rgb(0 0 0 /5%);
  border-radius: 5px;
  padding: 20px;
  height: 77px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.creater_section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 30px;
}
.creater_section > p {
  word-break: keep-all;
  font-weight: 600;
  font-size: 20px;
  line-height: 141.2%;
  color: #171717;
}
.creater_section > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  padding: 4px 0;
  justify-content: flex-start;
  color: #36f;
  height: 40px;
}
.creater_section img {
  margin-left: 7px;
}

.div_hr_solid {
  max-width: 1060px;
  width: 90%;
  margin: 0 auto;
}

.div_hr {
  height: 1px;
  border: none;
  background-color: #ececec;
}

.recommend_line_banner {
  max-width: 1060px;
  width: 90%;
  margin: 60px auto 0;
}

.recommend_img {
  height: 15px;
  line-height: 20px;
  margin-left: 3px;
}

.recommend_line_banner_inner {
  width: inherit;
  background: linear-gradient(102deg, #2f5fef -127%, #046afe 50%, #00d2dd 145%);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  border-radius: 4px;
}
/* main end */

section.event_slide_banner {
  padding: 60px 0;
}

section .event_slide_banner_inner {
  max-width: 1060px;
  width: 90%;
  margin: 0 auto;
}

section .event_slide_banner_header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

section .event_slide_banner_title {
  text-align: center;
}
section .event_slide_banner_title h2 {
  font-size: 18px;
  line-height: 1.33;
  color: #333;
}
section .event_slide_banner_title > a {
  font-size: 13px;
  margin: 5px 0 0;
  font-weight: 500;
  color: #8a8a8a;
}

section .event_slide_banner_container {
  margin: -8px;
  position: relative;
}

.event_slide_banner.image {
  position: relative;
  height: auto;
  padding-bottom: 52.3%;
  padding-left: 0;
}

.event_slide_banner_inner_title {
  text-align: left;
}

.event_slide_banner_inner_title .event_label span {
  margin-top: 12px;
  margin-right: 5px;
  height: 20px;
  border: 1px solid;
  border-radius: 2px;
  flex-direction: column-reverse;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-size: 11px;
  font-weight: 700;
  line-height: normal;
  padding: 0 6px;
  background-color: #fff;
}

.event_slide_banner_inner_title .event_label span.label_online {
  white-space: normal;
  color: #fff;
  background-color: #1c1c1c;
  border: #1c1c1c;
}
.event_slide_banner_inner_title .event_label span.label_education {
  color: #333;
  border: 1px solid#333;
}
.event_slide_banner_inner_title .event_label span.label_article {
  color: #ff9100;
  border: 1px solid#ff9100;
}
.event_slide_banner_inner_title .event_label span.label_netwokring {
  color: #a149e4;
  border: 1px solid #a149e4;
}
.event_slide_banner_inner_title .event_label span.label_event {
  color: #08ba9c;
  border: 1px solid #08ba9c;
}
.event_slide_banner_inner_title .event_label span.label_vod {
  color: #5866dc;
  border: 1px solid #5866dc;
}

.event_slide_banner_inner_title .event_title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
}
.event_slide_banner_inner_title .event_date {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #aaa;
}

section .event_slide_banner_container .event_slide_imgage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
  object-fit: cover;
  outline: 1px solid rgba(0, 0, 0, 0.05);
  outline-offset: -1px;
}

.last_slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #fff;
}
.last_event_button {
  width: 100%;
  height: 100%;
  position: relative;
}
.last_event_inner_button {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-60%) translateY(-100%);
}

.last_event_inner_button button {
  display: flex;
  color: #171717;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  height: 40px;
}
.last_evnet_inner_button_border {
  border: 1px solid #ebebeb;
  border-radius: 50px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  font-weight: normal;
}

section.recruitment_information {
  padding: 60px 0 80px;
}

.recruitment_information .recruitment_information_inner {
  max-width: 1060px;
  width: 90%;
  margin: 0 auto;
}
.recruitment_information_title {
  text-align: center;
  margin-bottom: 30px;
}

.recruitment_information_nav {
  border: 1px solid #ececec;
  border-radius: 4px;
  color: #333;
  display: flex;
}
.recruitment_information_nav_inner > div > img {
  width: 30px;
}
.recruitment_information_nav_inner_ling_png {
  cursor: pointer;
}

.recruitment_information_nav_inner {
  position: relative;
  margin-top: 10px;
  padding: 18px 0 0;
  border-right: 1px solid #ececec;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recruitment_information_nav_inner > div > span {
  display: flex;
}

.recruitment_information_nav_inner_link {
  color: #171717;
  padding: 21px 8px;
  font-weight: 700;
  line-height: normal;
  min-width: 25px;
  cursor: pointer;
}

.recruitment_information_nav_inner_next {
  width: 12px;
  margin-left: 3px;
  transform: rotate(270deg);
}
.type_test_banner_inner_title {
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
}
.type_test_banner_inner_subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.0056em;
  height: 32px;
}
/* footer start */
footer.footer {
  padding: 18px 0 65px;
  background-color: #fff;
  border-top: 1px solid #ececec;
}

footer.footer > .footer_inner {
  justify-content: space-between;
  width: 90%;
  max-width: 1060px;
  margin: 0 auto 18px;
  display: flex;
}

footer.footer .footer_inner_nav.left {
  display: flex;
}

.footer_inner_nav_link_logo {
  display: inline-flex;
  width: 113px;
  margin-right: 43px;
  justify-content: space-between;
  align-items: center;
}

.footer_inner_nav_link_logo img {
  line-height: 20;
  height: 20px;
}

footer.footer .footer_inner_nav_menu {
  display: flex;
}

footer.footer .footer_inner_nav_menu > a {
  font-size: 15px;
  color: #3a3a3a;
  margin-right: 45px;
  line-height: 2.6;
  font-weight: 500;
}

footer.footer .footer_inner_nav.right {
  display: flex;
  flex-wrap: nowrap;
  line-height: 2.6;
}

footer.footer .footer_inner_nav.right > a > img {
  margin-left: 14px;
}

.footer_inner_nav_menu span {
  font-weight: bold;
}

footer.footer > .footer_inner:nth-child(2) {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto 18px;
  display: flex;
  border-top: 1px solid #ececec;
  padding-top: 25px;
}

footer.footer .footer_inner_text {
  float: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
  color: #767676;
  width: calc(100% - 290px);
  margin-right: 40px;
}
/* footer end */

/* aside */

.interest_slide_aside {
  position: absolute;
  background-color: #fff;
  border: 1px solid #e1e2e4;
  border-radius: 4px;
  top: 0;
  right: -200px;
  width: 150px;
  padding: 14px 14px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.interest_slide_title_image {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interest_slide_title_image button {
  position: absolute;
  right: 5px;
  width: 15px;
}
.interest_slide_title_image img {
  width: 62px;
}
.interest_slide_title_image button img {
  width: inherit;
}

.interest_slide_title {
  margin-top: 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 142.9%;
  text-align: center;
  letter-spacing: 0.0145em;
  color: #171717;
  width: 90%;
  word-break: keep-all;
}

.interest_slide_title_creater {
  font-size: 12px;
  display: flex;
  color: #36f;
  margin: 10px;
  cursor: pointer;
}

.interest_slide_aside .div_hr_solid {
  margin: 10px 0;
}
.interest_slide_title_creater img {
  width: 12px;
  margin-left: 2px;
}
/* aside */

.swiper-slide img {
  position: relative;
  width: 100%;
  border-radius: 4px;
}
.swiper-slide .swiper-inner-absolute-div {
  opacity: 0;
}

.swiper-slide .swiper-inner-absolute-div {
  opacity: 0;
}

.swiper-slide.swiper-slide-active .swiper-inner-absolute-div {
  opacity: 0;
  transition-property: opacity;
}

.swiper-slide.swiper-slide-active .swiper-inner-absolute-div {
  position: absolute;
  background: #fff;
  bottom: 28px;
  width: 330px;
  height: 146px;
  opacity: 1;
  text-align: left;
  left: 34px;
  z-index: 15;
  border-radius: 4px;
}

.swiper-inner-absolute-div {
  position: absolute;
  background: #fff;
  bottom: 28px;
  width: 330px;
  height: 146px;
  opacity: 1;
  text-align: left;
  left: 34px;
  z-index: 15;
  border-radius: 4px;
}
.swiper-inner-absolute-div {
  position: absolute;
  background: #fff;
  bottom: 28px;
  width: 330px;
  height: 146px;
  opacity: 1;
  text-align: left;
  left: 34px;
  z-index: 15;
  border-radius: 4px;
}

.swiper-inner-absolute-div h2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  margin-top: 20px;
  line-height: 1;
  font-weight: 700;
  color: #333;
  width: "auto";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.swiper-inner-absolute-div h3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.15;
  height: 30px;
  color: #666;
  width: "auto";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.swiper-link {
  display: block;
  margin-top: 6px;
  margin-left: 13px;
  padding: 6px 8px;
}

.blue-color {
  color: #3366ff;
}

.swiper-link .blue-color {
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.swiper-link .blue-color .blue-next-btn img {
  position: absolute;
  width: 14px;
  height: 14px;
  line-height: 13px;
  bottom: 2px;
}

.top-banner {
  width: 1200px;
  height: 300px;
  margin: auto;
}

.blue-next-btn {
  position: relative;
}

.blue-next-btn img {
  position: absolute;
  right: -15px;
}

.main_banner_hr {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 0.5px solid #ececec;
}

@media (max-width: 1000px) {
  .swiper-inner-absolute-div {
    display: none;
  }
  .button-next {
    display: none;
  }
  .button-prev {
    display: none;
  }
}
.swiper-slide.swiper-slide-active .swiper-inner-absolute-div {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}
